.wrapper {
  background-color: #fff;
  width: 100vw;
  position: fixed;
  top: 80px;
  left: 0px;
  overflow-x: hidden;
  background-image: url('../images/background.png');
  background-position: center;
  background-size: cover;
  z-index: 1;
}
section {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
}