a {
  text-decoration: none ;
}
.wrapper {
  background-color: #fff;
  width: 100vw;
  height: auto;
  position: absolute;
  top: 80px;
  left: 0px;
  overflow-x: hidden;
  background-image: url('../images/background.png');
  background-position: center;
  background-size: cover;
  z-index: 1;
}
section {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
}
.fdir__col {
  flex-direction: column;
}
.fdir__row {
  flex-direction: row;
}
.justicont__center {
  justify-content: center;
  align-items: center;
  align-content: center;
}
.justicont__space__around {
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
.justicont__space__between {
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.hide {
  display: none !important;
}
.gap {
  height: 50px;
  background-color: #fff;
  width: 100vw;
}
.mb-4 {
  margin-bottom: 6px;
}
.btn {
  background-color: #157293 !important;
}
.font__Varela {
  font-family: 'Varela Round', sans-serif;
}
.bg__theme {
  background-color: #ff4500;
}
.font__theme {
  color: #ff4500;
}
.bg__trigger {
  background-color: #309c30;
}
.text__right {
  text-align: right;
}

@media screen and ( max-width: 1024px ) {
  .wrapper {
    background-position: center;
    background-size: contain;
  }
}