nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: 80px;
  top: 0;
  left: 0;
  width: 100vw;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  z-index: 99;
  background-color: #fff;
}
.logo {
  font-family: 'Sacramento', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
  left: 50px;
}
.logo > a {
  text-decoration: none;
  cursor: pointer;
  color: orangered;
  font-size: 48px;
  font-weight: bold;
}
.logo > a:focus {
  color: orangered;
}
.nav__links {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  list-style: none;
}
.nav__item {
  height: 60px;
  align-items: center;
  display: flex;
  padding: 0px 30px;
  font-family: 'Varela Round', sans-serif;
  cursor: pointer;
}
.nav__item > a {
  text-decoration: none;
  font-weight: bold;
  color: orangered;
}
.nav__item > span {
  color: orangered;
}
.nav__item > span > i {
  font-size: 32px;
}

@media screen and (max-width:768px) {
  .logo {
    left: 20px;
  }
  .logo > a {
    font-size: 40px;
  }
  .nav__item {
    height: 60px;
    padding: 0px 10px;
  }
  .nav__item > a {
    font-size: 14px;
  }
  .nav__item > span > i {
    font-size: 18px;
  }
}

@media screen and (max-width:512px) {
  .logo {
    left: 20px;
  }
  .logo > a {
    font-size: 30px;
  }
  .nav__item {
    height: 60px;
    padding: 0px 10px;
  }
  .nav__item > a {
    font-size: 12px;
  }
  .nav__item > span > i {
    font-size: 14px;
  }
}

@media screen and (max-width:425px) {
  .Overlay {
    width: 100vw;
    height: 100vh;
    background-color: aqua;
  }
  .Modal {
    left: 0;
    width: calc(100% - 40px)  !important;
    background-color: aquamarine;
  }
}

.Modal {
  position: absolute;
  right: 0;
  top: 80px;
  width: 320px;
  height: calc(100% - 120px);
  display: block;
  background-color: #fff;
  outline: transparent;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
  font-family: 'Varela Round', sans-serif;
  padding: 20px;
  z-index: 98;
  overflow-x: hidden;
}
.Overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  overflow-x: hidden;
  z-index: 97;
}
.cart__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  font-weight: bold;
}
#cart__title {
  font-size: 14px;
}
.cart__header > span > i {
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.cart__footer {
  position: absolute;
  bottom: 20px;
  display: block;
  width: calc(100% - 40px);
}
.btn__checkOut {
  display: block;
  width: 100%;
}
#btn-checkOut {
  position: relative;
  text-decoration: none;
  width: calc(100% - 20px);
  display: block;
  padding: 10px;
  text-align: center;
  background-color: orangered;
  color: #fff;
  border-radius: 18px;
}
.info__div {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 4px;
}
.checkOut__total {
  font-weight: bold;
  font-size: 14px;
}
.cart__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
#cart__empty {
  padding: 20px;
  font-style: italic;
}